# Intellij
*.iml
.idea/

# Compiled class file
*.class

# Log file
*.log

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Force add gradle wrapper
!gradle/wrapper/gradle-wrapper.jar